/*
(c) Jan Ingemansen 2015

This file is part of Wireframes with HTML and CSS.

    Wireframes with HTML and CSS is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Wireframes with HTML and CSS is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Wireframes with HTML and CSS.  If not, see <http://www.gnu.org/licenses/>.
*/



/* GENEREL STYLES */
body {
    background:#fff;
    font-family:"Courier New",Courier,"Lucida Sans Typewriter","Lucida Typewriter",monospace
}

.image_holder.left {
    float:left;
    margin-right:.5em;
    margin-bottom:.5em
}

section>section {
    padding: 30px;
}

/* TYPPOGRAPHY */
h1,h2,h3,h4,h5,h6 {
    margin-bottom:24px;
    font-weight:700;
    overflow:hidden
}

h1 {
    font-size:1.5em;
/* 24px --> 24 ÷ 16 = 1.5 */
    line-height:/* 24px --> 24 ÷ 24 = 1 */
1em
}

h2 {
    font-size:1.375em;
/* 22px --> 22 ÷ 16 = 1.375 */
    line-height:/* 24px --> 24 ÷ 22 = 1.090909(09) */
1.0909em
}

h3 {
    font-size:1.25em;
/* 20px --> 20 ÷ 16 = 1.25 */
    line-height:/* 24px --> 24 ÷ 20 = 1.2 */
1.2em
}

h4 {
    font-size:1.125em;
/* 18px --> 18 ÷ 16 = 1.125 */
    line-height:/* 24px --> 24 ÷ 18 = 1.3333333(3) */
1.333em
}

h5,h6 {
    font-size:1em;
/* 16px --> 16 ÷ 16 = 1 */
    line-height:/* 24px --> 24 ÷ 16 = 1.5 */
1.5em
}

/*--- PARAGRAPHS ---*/
p {
    margin-bottom:24px
}

p+p {
    text-indent:1em;
    margin-top:-24px
}

/* QUOTES */

hanging-punctuation: none | [ first || [ force-end | allow-end ] || last ]

blockquote p {
  hanging-punctuation: first;
}

/* STRUCTURE */
body>div {
    width:960px;
    margin:auto
}

/* We ad an image of our grid as background when the user hovers over our wrapper div */
body>div:hover {
    background:url(../images/12_col.gif) repeat-y;
    background-size:100%
}

/* HEADER */
header {
    height:200px
}

header>.image_holder {
    margin:25px 45px;
    display:block;
    float:left
}

header>h1 {
    line-height:200px;
    width:720px;
    font-size:3em;
    text-align:center
}

/* TOP MENU */
nav {
    overflow:hidden
}


nav>ul>li {
    width:140px;
    text-align:center;
    line-height:1.5em;
    margin:10px;
    float:left
}

/* CONTENT */
section {
    min-height:450px
}

article {
    padding:10px;
    padding-top:2em;
    overflow:hidden
}

article p>div.image_holder {
    display: block !important;
    float: right;
}


aside {
    width:220px;
    min-height:450px;
    margin-left:20px;
    overflow:hidden;
    float:right
}

/* FOOTER */
footer {
    height:200px;
    margin-bottom:100px
}