/*
(c) Jan Ingemansen 2015

This file is part of Wireframes with HTML and CSS.

    Wireframes with HTML and CSS is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Wireframes with HTML and CSS is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Wireframes with HTML and CSS.  If not, see <http://www.gnu.org/licenses/>.
*/


/* WIREFRAME

We use a dashed outline to make the wires and a transparent grey background that will make elements darker when they are on top of eachother.

*/
div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,address,img,ol,ul,li,fieldset,form,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
    background:#fff;
    outline:1px #333 dashed;
    background:rgba(120,120,120,0.15)
}

.image_holder>label,label.tagLabel {
    display:inline-block;
    padding:5px;
    margin:5px;
    font-size:16px;
    background:#fff;
    outline:2px dotted #fff;
    line-height:1em;
    z-index:3
}

label.tagLabel>em {
    display:block;
    font-weight:900;
    text-transform:uppercase;
    margin-bottom:8px
}

label.tagLabel table,label.tagLabel tbody,label.tagLabel tr,label.tagLabel td {
    background:transparent;
    outline:none
}

label.tagLabel td {
    padding:2px;
    font-size:16px
}
